<!DOCTYPE html>
<html>
<head>
  <title>Homepage</title>
  <!-- links to CSS stylesheet in the public directory -->
  <link rel="stylesheet" href="/css/index.css" >
</head>
<body> 

  <div class="peaceful">
    <!--<form method="POST" action="/status">-->
    <!--  <input type="text" name="username" placeholder="Type your username">-->
    <!--  <input type="text" name="status" placeholder="Type your status">-->
    <!--  <input type="submit" value="Submit!">-->
    <!--</form>-->
    <h1>Can you see the crocodile?</h1>
    <audio controls autoplay>
  <source src= type="audio/mpeg">
</audio>
    <img src="<%= @scare1.scare %>" style="width:1260px;height:525px;">
  </div>

</body>
</html>

